<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false"
               type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
  </configSections>-->
  
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit"/>
  </configSections>
    
  <system.web>
    <!--<sanitizer defaultProvider="AntiXssSanitizerProvider">
        <providers>
            <add name="AntiXssSanitizerProvider" type="AjaxControlToolkit.Sanitizer.AntiXssSanitizerProvider"></add>
        </providers>
    </sanitizer>-->
    <compilation debug="true" targetFramework="4.5.1">
      <!--<sanitizer>
        <providers>
          <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"></add>
        </providers>
      </sanitizer>-->
        
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  
<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer"/>
  
    <connectionStrings>
        <add name="CountryCityManagement" connectionString="Server=TUSHAR_PC; Database=CountryCityDB; Integrated Security=True" />
    </connectionStrings>
  
  <!--<connectionStrings>
    <add name="CountryCityManagement" connectionString="Data Source=.;Initial Catalog=CountryCityDB;Persist Security Info=True;User ID=sa;Password=csl123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>

